streamlit==1.36.0
Pillow
numpy
opencv-python-headless
pyzxing
easyocr
plotly
supabase
python-dotenv
requests
pytesseract

# Torch (Cloud 可用的 CPU 版)
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1


