streamlit==1.36.0
numpy==1.26.4
Pillow==10.2.0
opencv-python-headless==4.8.1.78
pyzxing==1.1.1
requests
python-dotenv
pytesseract

# EasyOCR 相容的 Torch / Torchvision
torch==2.1.0
torchvision==0.16.0
easyocr==1.7.1

# Supabase
supabase==2.3.4
postgrest==2.0.1
